version: 2
ethernets:
  ens3:
    addresses:
    - {{vm.ip_addr}}/24
    gateway4: {{gateway}}
    nameservers:
      search:
      - {{cluster_type}}.{{stage}}.{{domain}}
      addresses:
      - {{nameserver}}