[all:vars]
stage={{stage}}
cluster_type={{cluster_type}}
gateway={{gateway}}
nameserver={{nameserver}}
{% if domain %}
domain={{domain}}
{% endif %}
tainted={{tainted}}
cni={{cni}}
pod_network_cidr={{pod_network_cidr}}

{% for vm_type in vm_types %}
[{{vm_type.type}}]
{% for vm in vm_type.vms %}
{{vm.ip_addr}} hostname={{vm.name}}
{% endfor %}

[{{vm_type.type}}:vars]
ansible_ssh_user={{vm_type.user}}
ansible_ssh_pass={{vm_type.password}}
ansible_sudo_pass={{vm_type.password}}

{% endfor %}
